body {
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 0.8em;
	margin: 0;
}

#content {
	text-align: center;
}

#dial {
	display: inline-block;
}

.entry {
	float: left;
	margin: 7px;
}

.bookmark {
	overflow: hidden;
	background: #fff;
	float: left;
	height: 100%;
	width: 100%;
	text-decoration: none;
	position: relative;
	border: 1px solid rgba(0,0,0,0.1);
}

.entry .bookmark:hover {
	color: #444;
}

.image {
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.custom-icon {
	background-size: contain;
	background-position: center;
}

.details {
	border-collapse: collapse;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

td {
	opacity: 0.6;
}

.edit, .remove {
	opacity: 0.0;
	width: 1em;
}

.entry:hover .details .edit, .entry:hover .details .remove {
	opacity: 0.25;
}

.entry:hover .details .edit:hover, .entry:hover .details .remove:hover {
	opacity: 0.6;
}

.details .title {
	vertical-align: middle;
	color: #222;
	font-size: 1em;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.entry:hover .title {
	opacity: 0.9;
}

#new_entry {
	cursor: pointer;
}

#new_entry:hover .foundicon-folder,
#new_entry:hover .foundicon-plus {
	color: rgba(0,0,0,0.2);
}

#new_entry div {
	background-color: transparent;
	height: 100%;
	position: relative;
	border: 1px solid rgba(0,0,0,0.1);
	transition: .15s color;
}

.foundicon-folder, .foundicon-plus {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(0,0,0,0.1);
	transition: .15s color;
}

#bookmark_form h1 {
	font-size: 1.5em;
}

#bookmark_form span {
	display: inline-block;
	padding: 0 5px;
	text-align: right;
	width: 110px;
	margin-left: -20px;
}

#bookmark_form input {
	padding: 10px;
	width: 300px;
}

#bookmark_form button {
	border: 0;
	padding: 10px 26px;
	background-color: #007bff;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	transition: .15s opacity;
}

#bookmark_form button:hover,
#bookmark_form button:focus {
	opacity: .8;
}

#options {
	position: absolute;
	right: 0px;
	top: -5px;
	margin: 10px;
}

#options a {
	font-size: 20px;
	color: rgba(0,0,0,0.2);
	width: 30;
	text-decoration: none;
	transition: .15s color;
}

#options a:hover,
#options a:focus {
	color: rgba(0,0,0,0.3);
}

#folder_list {
	margin: 20px auto 10px auto;
	min-width: 20em;
	max-width: 30%;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAeElEQVQoU2NkIAAYZ86cWcDAwMCPTd3///8/MM6YMeMCIyOjPg4FFxnnz58v8PPnzwPoiv7//3+RnZ3dgRGkc/r06QpMTEwXkKz6yMbGppCYmPgBrAAEZs2aZfD///8DIDYjI6NDWloaSAMDXAFMEYiGSWIowOZQAJCbKMUqT5VdAAAAAElFTkSuQmCC);
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-position: center right 10px;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 0;
	height: 32px;
	padding: 8px;
}
